@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");

* {
   font-family: "Outfit", sans-serif;
   margin: 0;
   padding: 0;
}

body {
   background-color: hsl(217, 54%, 11%);
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 20px;
   row-gap: 20px;

   min-height: 100vh;
   flex-wrap: wrap;
   overflow-x: hidden;
}

.custom-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 15px;
   border-radius: 10px;
   transition: transform 0.5s;
   gap: 10px;
   max-width: 320px;
   margin: 20px auto 0;
   align-items: center;
   text-align: center;
   background-color: hsl(216, 50%, 16%);
   -webkit-box-shadow: 0px 0px 58px -6px rgba(4, 6, 10, 1);
   -moz-box-shadow: 0px 0px 58px -6px rgba(4, 6, 10, 1);
   box-shadow: 0px 0px 58px -6px rgba(4, 6, 10, 1);
}